<!DOCTYPE html>
<html>
  <head>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
      integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX"
      crossorigin="anonymous"
    />

    <!-- FontAwesome JS -->
    <script
      src="https://kit.fontawesome.com/b767bbfe51.js"
      crossorigin="anonymous"
    ></script>

    <!-- Exit CSS -->
    <link rel="stylesheet" href="css/exit.css" />

    <!-- google fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap"
      rel="stylesheet"
    />

    <!-- font awesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"
    />
    <script
      src="https://kit.fontawesome.com/2387d21539.js"
      crossorigin="anonymous"
    ></script>

    <!-- jQuery -->
    <script
      src="https://code.jquery.com/jquery-2.2.4.min.js"
      integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous"
    ></script>

    <!-- bootstrap js -->
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
      integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
      crossorigin="anonymous"
    ></script>

    <!-- bootstrap responsive on mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Video Conference App</title>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div id="content">
            <h1>You left the meeting...!</h1>
            <h3>Mistake?</h3>
            <hr />
            <button
              class="btn btn-info btn-lg"
              onclick="window.history.back();"
            >
              Rejoin <i class="fas fa-undo-alt"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
